<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.mng.dao.LectureDao">

	<select id="selectLectureListCnt" resultType="_int">
		  SELECT COUNT(*)
            FROM tb_courselist
           WHERE loginID = #{loginID}
	</select>
	
	<select id="selectLectureList" resultType="LectureDto">
		 SELECT CI.class_no, CI.class_nm, UI.name, CI.class_startdate, CI.class_enddate, CI.class_type, CI.class_obj,
                CI.class_plan, CR.room_nm, RR.no, RR.file_name,CNT.class_cnt, CI.class_totalcnt
           FROM tb_classinfo CI
     INNER JOIN tb_userinfo UI 
             ON CI.loginID = UI.loginID
LEFT OUTER JOIN tb_classroom CR
             ON CI.room_no = CR.room_no
LEFT OUTER JOIN 
                (
                 SELECT RR.no rr_no,FU.file_no no,FU.file_name 
                   FROM tb_ref_room RR 
             INNER JOIN tb_Fileup FU
                     ON RR.file_no = FU.file_no
                 ) RR      
             ON CI.class_fileno = RR.rr_no
LEFT OUTER JOIN            
                (
                 SELECT COUNT(CI.class_no) class_cnt,CI.class_no
                   FROM tb_classinfo CI
             INNER JOIN tb_courselist CL
                     ON CI.class_no = CL.class_no
               GROUP BY CI.class_no
                 ) CNT
             ON CI.class_no = CNT.class_no
          WHERE CI.class_no 
             IN (
                 SELECT CL.class_no
                   FROM tb_courselist CL
                  WHERE CL.loginID = #{loginID}
                 )
	</select>
	
	
	<select id="selectLecture" resultType="LectureDto">
		 SELECT CI.class_no, CI.class_nm, UI.name, CI.class_startdate, CI.class_enddate, CI.class_type, CI.class_obj,
                CI.class_plan, CR.room_nm, RR.no, RR.file_name,CNT.class_cnt, CI.class_totalcnt
           FROM tb_classinfo CI
     INNER JOIN tb_userinfo UI 
             ON CI.loginID = UI.loginID
LEFT OUTER JOIN tb_classroom CR
             ON CI.room_no = CR.room_no
LEFT OUTER JOIN 
                (
                 SELECT RR.no rr_no,FU.file_no no,FU.file_name 
                   FROM tb_ref_room RR 
             INNER JOIN tb_Fileup FU
                     ON RR.file_no = FU.file_no
                 ) RR      
             ON CI.class_fileno = RR.rr_no
LEFT OUTER JOIN            
                (
                 SELECT COUNT(CI.class_no) class_cnt,CI.class_no
                   FROM tb_classinfo CI
             INNER JOIN tb_courselist CL
                     ON CI.class_no = CL.class_no
               GROUP BY CI.class_no
                 ) CNT
             ON CI.class_no = CNT.class_no
          WHERE CI.class_no 
             IN (
                 SELECT CL.class_no
                   FROM tb_courselist CL
                  WHERE CI.class_no = #{class_No}
                 );	
	
	</select>
	
	
	<select id="selectPlanFileInfo" resultType="FileInfoDto">
		SELECT * 
		  FROM tb_Fileup 
		 WHERE file_no = #{no}
	</select>
	
	
</mapper>


