<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.mng.dao.QnaReplyDao">

	<select id="selectQnaRListCnt" resultType="_int">
		 SELECT COUNT(*) 
		   FROM tb_reply 
		  WHERE board_no = #{board_no}
	</select>
	
	<select id="selectQnaRList" resultType="QnaReplyDto">		  
		 SELECT RE.*, UI.name, UI.user_type
		   FROM tb_reply RE INNER JOIN tb_userinfo UI
		     ON RE.loginID = UI.loginID 
		  WHERE RE.board_no = #{board_no}
		  ORDER BY RE.reply_date DESC, RE.reply_no DESC
	</select>
	
	<insert id="insertReply" parameterType="QnaReplyDto">
	 	<selectKey resultType="_int" keyProperty="reply_No" order="BEFORE">
            SELECT IFNULL(MAX(reply_no),0) + 1 FROM tb_reply 
        </selectKey> 
		INSERT INTO	tb_reply
			 VALUES (
			 		 #{reply_No},#{board_No},#{loginID},#{reply_Content},NOW()	
			 		)	
	</insert>
	
	<update id="updateReply" parameterType="QnaReplyDto">
		UPDATE tb_reply 
		   SET reply_content = #{reply_Content} 
		 WHERE reply_no = #{reply_No}	
	</update>
	
	<delete id="deleteReply">
		DELETE 
		  FROM tb_reply
		 WHERE reply_no = #{reply_No}
	</delete>
	
	
</mapper>






