<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.epc.dao.ShoppingCartDao">
	<select id="getCartList" parameterType="kr.happyjob.study.epc.model.SearchParamDTO" resultType="kr.happyjob.study.epc.model.ShoppingCartItemDTO">
		SELECT s.model_nm, s.price, b.pur_cnt, b.wanteddate as wanted_date, b.sales_id, f.file_server_path as photo
		FROM tb_basket b
		INNER JOIN tb_sales s ON b.sales_id = s.sales_id
		LEFT JOIN tb_sales_file f on s.sales_id = f.sales_id
		WHERE purcYN = 'N'
			AND loginID = #{loginID}
		LIMIT #{startIndex}, #{pageBlockSize}
	</select>
	
	<select id="getCartListTotalCount" parameterType="string" resultType="int">
		SELECT count(*) 
		FROM tb_basket
		WHERE purcYN = 'N'
			AND loginID like #{loginID}
	</select>
	
	
	<delete id="deleteCartItem" parameterType="hashmap">
		DELETE FROM tb_basket
		WHERE loginID = #{loginID} AND sales_id = #{sales_id} AND wanteddate like CONCAT(#{wanteddate}, '%')
			
	</delete>
	
	<update id="updateCartItemPurYN" parameterType="kr.happyjob.study.epc.model.ShoppingCartItemDTO">
		UPDATE tb_basket 
		SET purcYN = 'Y' 
		WHERE loginID = #{loginID} and sales_id = #{sales_id}
		
	</update>
	
	<insert id="orderProductPurchase" useGeneratedKeys="true" keyProperty="pur_id">
		INSERT INTO
			    tb_purchase (loginID, depositYN,type)
		VALUES
			    (
			    #{loginID}, 
			    'Y',
			    <if test='userType.equals("C")'>
	    			'1'
		    	</if> 
		    	<if test='!userType.equals("C")'>
		    		'0'
		    	</if>
			    )
	</insert>
	
	<insert id="orderProductPurchaseinfo"  parameterType="kr.happyjob.study.epc.model.ShoppingCartItemDTO" useGeneratedKeys="true" keyProperty="purinf_id">
	<!-- <selectKey keyProperty="pur_id" order="BEFORE" resultType="int"> 
		SELECT max(pur_id) from tb_purchase 
	</selectKey> -->
		INSERT INTO
		    tb_purchaseinfo (pur_cnt, wanted_date, returnYN, pur_id, loginID, sales_id)
		VALUES
		    (
	    	#{pur_cnt}, 
	    	#{wanted_date}, 
	    	'N',
	    	#{pur_id}, 
	    	#{loginID}, 
	    	#{sales_id}
	    	)
	</insert>
	
	
</mapper>