<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.sta.dao.StaDao">

	<!-- 만족도 조회 -->
	<select id="liststa" resultType="kr.happyjob.study.sta.model.StaModel">
			/*kr.happyjob.study.sta.model.StaModel*/
		SELECT  a.class_no
        			 , a.class_nm as name
     				 , CONCAT_WS('~',a.class_startdate,a.class_enddate) as date 
     				 , count(a.class_no) as subject
     				 , sum(b.appraisal_score) as totall
     				 , avg(b.appraisal_score) as avgg
   				     , max(b.appraisal_score) as maxx
      				 , min(b.appraisal_score) as minn
      	FROM tb_classinfo a 
      	INNER JOIN tb_appraisal b  on a.class_no = b.class_no
    	GROUP BY b.class_no
    	ORDER BY a.class_no desc
    LIMIT #{pageIndex}, #{pageSize}
           
</select>

	<!-- 만족도 총갯수 조횐 -->		
<select id="countList" resultType="int">
		/*kr.happy.study.dao.staDao.countList*/
		SELECT COUNT(DISTINCT class_no)  cnt	
		FROM tb_appraisal
	</select>
<!-- 만족도 단건조회 -->
<select id="selectsatisfaction" resultType="kr.happyjob.study.sta.model.StaModel">
	/*kr.happyjob.study.sta.model.StaModel.selectsatisfaction*/
		SELECT
					   a.class_no
        			 , a.class_nm as name
     				 , CONCAT_WS('~',a.class_startdate,a.class_enddate) as date 
     				 , count(a.class_no) as subject
     				 , sum(b.appraisal_score) as totall
     				 , avg(b.appraisal_score) as avgg
   				     , max(b.appraisal_score) as maxx
      				 , min(b.appraisal_score) as minn
      	FROM tb_classinfo a 
      	INNER JOIN tb_appraisal b  
      	ON a.class_no = b.class_no
    	WHERE a.class_no = #{class_no} 
		GROUP BY a.class_no
</select>
	<select id="selectTotalCnt" parameterType="hashMap" resultType="_int">
			SELECT COUNT(*) 
			  FROM(
						SELECT
								  b.class_no
			        			 , a.class_nm as name
			     				 , CONCAT_WS('~',a.class_startdate,a.class_enddate) as date 
			     				 , count(a.class_no) as subject
			     				 , sum(b.appraisal_score) as totall
			     				 , avg(b.appraisal_score) as avgg
			   				     , max(b.appraisal_score) as maxx
			      				 , min(b.appraisal_score) as minn
			      		FROM tb_classinfo a 
			      		INNER JOIN tb_appraisal b  on a.class_no = b.class_no
			    		WHERE <![CDATA[class_startdate > #{class_startdate}]]> 
			    		AND  <![CDATA[class_enddate < #{class_enddate}]]>
			    		GROUP BY b.class_no
			    		ORDER BY a.class_no desc 	
			    		) FF				
</select>
	<select id="selectSerchList" resultType="StaModel" parameterType="hashMap" >
		SELECT
					   a.class_no
        			 , a.class_nm as name
     				 , CONCAT_WS('~',a.class_startdate,a.class_enddate) as date 
     				 , count(a.class_no) as subject
     				 , sum(b.appraisal_score) as totall
     				 , avg(b.appraisal_score) as avgg
   				     , max(b.appraisal_score) as maxx
      				 , min(b.appraisal_score) as minn
      		FROM tb_classinfo a 
      		INNER JOIN tb_appraisal b  on a.class_no = b.class_no
    		WHERE <![CDATA[class_startdate > #{class_startdate}]]> 
    		AND  <![CDATA[class_enddate < #{class_enddate}]]>
    		GROUP BY b.class_no
    		ORDER BY a.class_no desc 
    LIMIT #{pageIndex}, #{pageSize}					
	</select>



</mapper>