<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.sta.dao.StudentDao">

	
	<select id="studentlist" resultType="map" parameterType="map" >
 	SELECT    DATE_FORMAT(ci.class_startdate,'%Y-%m') as class_startdate
		      		,count(c.class_no ) as cnt
	  FROM 	tb_courselist c
	               JOIN 		tb_classinfo ci  ON 	c.class_no = ci.class_no
     WHERE   ci.class_startdate <![CDATA[>=]]> DATE_FORMAT(STR_TO_DATE(#{startdate},'%Y-%m'),'%Y-%m')
          AND ci.class_enddate  <![CDATA[<=]]> DATE_FORMAT(STR_TO_DATE(#{enddate},'%Y-%m'),'%Y-%m')
     group by  DATE_FORMAT(ci.class_startdate,'%Y-%m')  
	</select >


</mapper>