<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.sup.dao.ClassPlanDao">
   
   <!-- 강의계획서 리스트 -->
   <select id="selectClassPlanList" resultType="java.util.Map">
	/*kr.happyjob.study.sup.dao.ClassPlanDao.selectClassPlanList*/
	SELECT tci.class_no AS class_no
	     , tci.class_nm AS class_nm
	     , tui.name AS name
	     , tci.class_type AS class_type
	     , tci.class_totalcnt AS class_totalcnt
	     , CONCAT_WS(' ~ ', tci.class_startdate, tci.class_enddate) AS class_date
	     , CONCAT_WS(' ~ ', tci.recv_startdate, tci.recv_enddate) AS recv_date
	     , COUNT(tcl.class_no)  AS class_cnt
	  FROM tb_classinfo tci 
	       LEFT JOIN tb_courselist tcl 
	         ON tci.class_no = tcl.class_no
	       JOIN tb_userinfo tui
	         ON tci.loginID = tui.loginID
	 WHERE tui.user_type = 'D' 
	   AND tci.delete_yn = 'n'     
	 	<if test="(!startDate.equals('') and (!endDate.equals('')))">
		 	AND ((class_startdate between #{startDate} AND #{endDate})
  			 OR (class_enddate   between #{startDate} AND #{endDate})
  			 OR (#{startDate} BETWEEN class_startdate AND class_enddate
    		AND  #{endDate} BETWEEN class_startdate AND class_enddate))
		</if>
		<if test="(searchKey eq '0'.toString())">
			AND tci.class_type LIKE CONCAT('%',#{searchContent},'%')
		</if>
		<if test="(searchKey eq '1'.toString())">	
			AND tci.class_nm like CONCAT('%',#{searchContent},'%')
		</if>
		<if test="(searchKey eq '2'.toString())">	
			AND tui.name like CONCAT('%',#{searchContent},'%')
		</if>		        
	 GROUP BY tci.class_no
		
	 LIMIT #{pageIndex}, #{pageSize}
	</select>
	
	<!-- 강의계획서 몇명? -->
	<select id="countClassPlan" resultType="int">
	/*kr.happyjob.study.sup.dao.ClassPlanDao.countClassPlan*/
 
  	SELECT COUNT(distinct tci.class_no) 
   	  FROM tb_classinfo tci 
	       LEFT JOIN tb_courselist tcl 
	         ON tci.class_no = tcl.class_no
	       JOIN tb_userinfo tui
	         ON tci.loginID = tui.loginID
	 WHERE tui.user_type = 'D' 
	   AND tci.delete_yn = 'n' 	
	 	 	<if test="(!startDate.equals('') and (!endDate.equals('')))">
		 	AND ((class_startdate between #{startDate} AND #{endDate})
  			 OR (class_enddate   between #{startDate} AND #{endDate})
  			 OR (#{startDate} BETWEEN class_startdate AND class_enddate
    		AND  #{endDate} BETWEEN class_startdate AND class_enddate))
		</if>
		<if test="(searchKey eq '0'.toString())">
			AND tci.class_type LIKE CONCAT('%',#{searchContent},'%')
		</if>
		<if test="(searchKey eq '1'.toString())">	
			AND tci.class_nm LIKE CONCAT('%',#{searchContent},'%')
		</if>
		<if test="(searchKey eq '2'.toString())">	
			AND tui.name LIKE CONCAT('%',#{searchContent},'%')
		</if>		 
	</select>
	

	<!--해당 기간에 강의가 없는 강사 list  -->
	<select id = "selectListTeacher"  resultType = "java.util.Map">
	/*kr.happyjob.study.sup.dao.ClassPlanDao.selectListTeacher*/
		  SELECT  loginID
			   ,  user_type
			   ,  password
			   ,  name
			   ,  gender
			   ,  tel
			   ,  SUBSTRING_INDEX(tel,'-', 1) as tel1
		       ,  SUBSTRING_INDEX( SUBSTRING_INDEX(tel,'-', 2),'-', -1) as tel2
		       ,  SUBSTRING_INDEX(tel,'-', -1) as tel3
			   ,  zipcd
			   ,  addr
			   ,  dtl_addr
			   ,  birth
			   ,  email
			   ,  SUBSTRING_INDEX(email,'@', 1)  as user_email
		       ,  SUBSTRING_INDEX(email,'@', -1) as user_email2
			   ,  join_yn
			   ,  reg_date
		    FROM  tb_userinfo tu
		   WHERE  tu.user_type = 'D' 
		     AND  NOT EXISTS(
		              SELECT	DISTINCT tc.loginID
		                FROM	tb_classinfo tc
		               WHERE	tc.loginID = tu.loginID AND tc.delete_yn = 'n'
		                 AND ((class_startdate  BETWEEN #{startDate} AND #{endDate})
			  			  OR ( class_enddate    BETWEEN #{startDate} AND #{endDate})
			  			  OR ( #{startDate} 	BETWEEN class_startdate AND class_enddate
			    		 AND   #{endDate} 		BETWEEN class_startdate AND class_enddate))
				  )
	</select>
	
	<select id = "selectListClassRoom" resultType = "java.util.Map">
			/*kr.happyjob.study.sup.dao.ClassPlanDao.selectListClassRoom*/
			
	SELECT 	tcr.room_nm
		 ,	tcr.room_no
  	  FROM 	tb_classroom tcr
 	 WHERE 
 	   NOT 	EXISTS(  
		          SELECT	DISTINCT tci.room_no
		            FROM	tb_classinfo tci
		           WHERE	tcr.room_no = tci.room_no
       	             AND ((class_startdate  BETWEEN #{startDate} AND #{endDate})
		  			  OR ( class_enddate    BETWEEN #{startDate} AND #{endDate})
		  			  OR ( #{startDate} 	BETWEEN class_startdate AND class_enddate
		    		 AND   #{endDate} 		BETWEEN class_startdate AND class_enddate))
  			     )

	</select>
	<insert id = "registerClassPlan" parameterType="java.util.Map">
	

	INSERT INTO	tb_classinfo (

			  	loginID
			  ,	class_nm
			  ,	class_type
			  ,	class_startdate
			  ,	class_enddate
			  ,	recv_startdate
			  ,	recv_enddate
			  ,	room_no
			  ,	class_totalcnt
			  <if test="(user_type eq 'D'.toString())">
				  ,	class_fileno
				  , class_obj
				  ,	class_att
				  ,	class_plan
			  </if>
			  ) VALUES 
			  (
			    #{teacherName}
			  , #{class_nm}  
			  , #{class_type} 
			  , #{modalStartDate}  
			  , #{modalEndDate}  
			  , #{recvStartDate}  
			  , #{recvEndDate}  
			  , #{classRoomName}  
			  , #{fixedNumber}
			  <if test="(user_type eq 'D'.toString())">  
				  , #{class_fileno}
				  , #{class_obj}   
				  , #{class_att}   
				  , #{class_plan}
			  </if>   
			)
	</insert>
	
	<delete id="deleteClassPlan">
		UPDATE tb_classinfo 
		   SET delete_yn = 'y' 
		 WHERE class_no IN
		<foreach collection="list" item="item" open="(" separator="," close=")">
	    	#{item}	
	   	</foreach> 
	</delete>
	
	<delete id = "deleteCourseList">
		DELETE 
		  FROM tb_courselist 
		 WHERE class_no IN
		 	   <foreach collection="list" item="item" open="(" separator="," close=")">
	     			#{item}	
	   		   </foreach>
	</delete>
	<select id = "classPlanDtlInfo"  resultType = "java.util.Map">
		SELECT  tci.class_enddate   AS class_enddate
			 ,	tci.class_nm        AS class_nm
			 ,	tci.class_no        AS class_no
			 ,	tci.class_obj       AS class_obj
			 ,	tci.class_att       AS class_att
			 ,	tci.class_plan      AS class_plan
			 ,	tci.class_startdate AS class_startdate
			 ,	tci.class_totalcnt  AS class_totalcnt
			 ,	tci.class_type      AS class_type
			 ,	tci.recv_enddate    AS recv_enddate
			 ,	tci.recv_startdate  AS recv_startdate
			 ,  tui.name            AS name
		     ,  tui.tel             AS tel
		     ,  tui.email           AS email
		     ,  tcr.room_nm         AS room_nm
		     ,  tci.loginID			AS loginID
		  FROM tb_classinfo tci
		  JOIN tb_userinfo tui ON tci.loginID = tui.loginID
		  JOIN tb_classroom tcr ON tcr.room_no = tci.room_no
		 WHERE class_no = #{class_no}
	</select>
	
	<update id = "updateClassPlan">
	
	UPDATE  tb_classinfo 
	   SET  class_obj =    #{class_obj}
	     ,  class_att =    #{class_att}
	     ,  class_plan =   #{class_plan}
	   <!--   ,  class_fileno = #{class_fileno} -->
	 WHERE	class_no = 	   #{class_no}
		
	</update>
</mapper>

