<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.orders.dao.DirDao">
	
	
	
	<select id="getPurchaseType" resultType="Integer">
		SELECT type FROM tb_purchase WHERE pur_id=#{arg0}
	</select>
	
	<!-- 해당 구매/발주 고유번호에 대해 반품정보가 있는지 확인한다 -->
	<select id="countRefundInfoByByPurId" resultType="Integer">
		SELECT
			COUNT(1)
		FROM
			tb_purchase tp JOIN
			<if test="arg0==1">
			tb_purchaseinfo tpi ON tp.pur_id=tpi.pur_id
							JOIN
			tb_refundinfo tri ON tpi.purinf_id=tri.purinf_id
			</if>
			<if test="arg0==0">
			tb_orderinfo toi ON tp.pur_id=toi.pur_id
							JOIN
			tb_refundinfo tri ON toi.order_id=tri.order_id
			</if>
		WHERE tp.pur_id=#{arg0}
	</select>
	
	
	<select id="countRefundDirByPurInfIdx">
		SELECT
			COUNT(1)
		FROM
		<if test="arg0==1">
			tb_purchaseinfo tpi ON tp.pur_id=tpi.pur_id
							JOIN
			tb_refundinfo tri ON tpi.purinf_id=tri.purinf_id
							JOIN
			tb_returndir td ON tri.rfinfo_id=td.rfinfo_id
			</if>
			<if test="arg0==0">
			tb_orderinfo toi ON tp.pur_id=toi.pur_id
							JOIN
			tb_refundinfo tri ON toi.order_id=tri.order_id
							JOIN
			tb_returndir td ON tri.rf_info_id=td.rfinfo_id
		</if>
		
		<where>
			<if test="arg1!=null">
				WHERE td.confirmYN='Y'
			</if>
		</where>
			
	</select>
	
	
	<select id="getConfirmed" resultType="String">
		SELECT confirmYN
		FROM tb_returndir
		WHERE return_id=#{arg0}
	</select>


	<insert id="insertShippingDir">
		INSERT 
		INTO tb_delivdir
					(
						purinf_id,
						deliv_wh_id
					)
		VALUES
					<foreach collection="list" separator="," item="data">
					(
						#{data.purinf_id},
						#{data.deliv_wh_id}
					)
					</foreach>
	</insert>
	
	<insert id="insertReturnDir">
		INSERT
		INTO tb_returndir
						(
							rfinfo_id
						)
		VALUES			(
							#{arg0}
						)
	
	</insert>
	
	
	<!-- 해당 상품을 구매한 창고번호로 입고하기위해 구입당시 출고했던 창고번호를 사용하여 지시서 작성  -->
	<insert id="insertDelivDir">
		INSERT
		INTO tb_delivdir
						(
							return_id,
							deliv_wh_id
						)
		VALUES
						(
							#{returnId},
							(
								SELECT td.deliv_wh_id from tb_delivdir td WHERE td.purinf_id =
								(SELECT tp.purinf_id 
									FROM 		 tb_purchaseinfo tp  
											JOIN tb_refundinfo tr ON tp.purinf_id=tr.purinf_id
											JOIN tb_returndir trd ON trd.rfinfo_id=tr.rfinfo_id
											WHERE trd.return_id=#{arg0}
								) 
							) 
						)
	
	</insert>



</mapper>