<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.supplier.dao.SupplyManageDao">

	<select id="getSuppliers" parameterType="kr.happyjob.study.scm.supplier.model.PageInfo" resultType="kr.happyjob.study.scm.supplier.model.Supplier">
		SELECT
			DISTINCT(tc.comp_id),
			tc.comp_nm,
			tu.loginID,
			tu.password,
			tu.name,
			tu.phone
		FROM tb_userinfo tu JOIN tb_comp tc
								ON tc.loginID=tu.loginID
						<if test='"sales_nm".equals(searchType) or "all".equals(searchType)'>
							JOIN tb_import ti
								ON ti.comp_id=tc.comp_id
							JOIN tb_sales ts 
								ON ts.sales_id=ti.sales_id
						</if>
		<where>
			<if test='!"all".equals(searchType)'>
				<if test='"sales_nm".equals(searchType)'>
					AND ts.sales_nm 
				</if>
				<if test='"comp_nm".equals(searchType)'>
					AND tc.comp_nm
				</if>
				LIKE CONCAT('%',#{keyword},'%')
			</if>		
			
			<if test='"all".equals(searchType)'>
				AND 
					ts.sales_nm LIKE CONCAT('%',#{keyword},'%')
					OR
					tc.comp_nm LIKE CONCAT('%',#{keyword},'%')
			</if>
		</where>
		ORDER BY tc.comp_nm
		LIMIT #{firstIndex}, #{rowsPerPage}
	</select>
	
	<select id="getTotalCount" parameterType="kr.happyjob.study.scm.supplier.model.PageInfo" resultType="Integer">
		SELECT
			COUNT(DISTINCT(tc.comp_id))
		FROM
			tb_userinfo tu JOIN tb_comp tc
								ON tc.loginID=tu.loginID
						<if test='"sales_nm".equals(searchType) or "all".equals(searchType)'>
							JOIN tb_import ti 
								ON ti.comp_id=tc.comp_id
							JOIN tb_sales ts
								ON ts.sales_id=ti.sales_id
						</if>
		<where>
			<if test='!"all".equals(searchType)'>
				<if test='"sales_nm".equals(searchType)'>
					AND ts.sales_nm 
				</if>
				<if test='"comp_nm".equals(searchType)'>
					AND tc.comp_nm
				</if>
				LIKE CONCAT('%',#{keyword},'%')
			</if>		
			
			<if test='"all".equals(searchType)'>
				AND 
					ts.sales_nm LIKE CONCAT('%',#{keyword},'%')
					OR
					tc.comp_nm LIKE CONCAT('%',#{keyword},'%')
					
			</if>
		</where>
	</select>
	
	
	
	

	<select id="getImpSales" resultType="kr.happyjob.study.scm.supplier.model.ImpSales">
		SELECT
			ts.sales_id,
			ts.sales_nm,
			ti.unitprice
		FROM
			tb_sales ts
		JOIN
			tb_import ti
		ON 
			ts.sales_id=ti.sales_id
		WHERE
			ti.comp_id=#{arg0}
	</select>

</mapper>