<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.scm.warehouse.dao.WarehouseDao">


	<select id="getWarehouseList" parameterType="kr.happyjob.study.scm.warehouse.model.PageInfo" resultType="kr.happyjob.study.scm.warehouse.model.Warehouse">
		SELECT
				tw.wh_id,
				tw.wh_nm,
				loginID,
				(SELECT email FROM tb_userinfo tu WHERE tw.loginID=tu.loginID) AS email,
				(SELECT phone FROM tb_userinfo tu WHERE tw.loginID=tu.loginID) AS phone,
				tw.zipCode,
				tdc.detail_name AS wh_loc
		FROM
			tb_warehouse tw JOIN tb_detail_code tdc 
									ON tw.wh_loc=tdc.detail_code
		WHERE
			tdc.group_code='WareCD'
			<if test='!"all".equals(searchType)'>
				
					<if test='"wh_nm".equals(searchType)'>
						AND wh_nm
					</if>
					<if test='"wh_loc".equals(searchType)'>
						AND tdc.detail_name
					</if>
						LIKE CONCAT('%',#{keyword},'%')
				
			</if>
			<if test='"all".equals(searchType)'>
				AND (
						wh_nm LIKE CONCAT('%',#{keyword},'%')
						OR
						wh_loc LIKE CONCAT('%',#{keyword},'%')
					)
			
			</if>
		ORDER BY
			wh_id
		LIMIT #{firstIndex}, #{rowsPerPage}
	</select>
	
	
	<select id="getTotalCount" parameterType="kr.happyjob.study.scm.warehouse.model.PageInfo" resultType="Integer">
			 
		SELECT
			COUNT(1)
		FROM
			tb_warehouse tw JOIN tb_detail_code tdc 
									ON tw.wh_loc=tdc.detail_code
		WHERE
			tdc.group_code='WareCD'
			<if test='!"all.equals(searchType)"'>
				
					<if test='"wh_nm".equals(searchType)'>
						AND wh_nm
					</if>
					<if test='"wh_loc".equals(searchType)'>
						<!-- AND wh_loc -->
						AND tdc.detail_name
					</if>
						LIKE CONCAT('%',#{keyword},'%')
				
			</if>
			<if test='"all".equals(searchType)'>
					AND (
							wh_nm LIKE CONCAT('%',#{keyword},'%')
							OR
							<!-- wh_loc LIKE CONCAT('%',#{keyword},'%') -->
							tdc.detail_name LIKE CONCAT('%',#{keyword},'%')
						)
				
			</if>
	</select>
	
	
	<select id="getWareHouseInfo" resultType="kr.happyjob.study.scm.warehouse.model.WarehouseDetail">
		SELECT
				tw.wh_id,
				tu.loginID,
				tw.wh_nm,
				tu.name,
				tu.email,
				tu.phone,
				tw.zipCode,
				tw.wh_loc,
				tw.addr,
				tw.dtAddress
				
		FROM
			tb_warehouse tw JOIN tb_userinfo tu
		ON
			tw.loginID=tu.loginID
		WHERE
			wh_id=#{arg0}
	</select>
	
	
	<!-- <select id="getLocComnCod" resultType="kr.happyjob.study.system.model.ComnCodUtilModel">
		SELECT
			wh_loc AS dtl_cod,
			wh_nm AS dtl_cod_nm
		FROM
			tb_warehouse
		WHERE
			wh_loc=#{arg0}
	
	</select> -->
	
	
	
	<select id="getWareHouseStock" resultType="Integer">
		SELECT IFNULL(ts.st_cnt,0)
		FROM tb_warehouse tw  LEFT JOIN tb_stock ts 
									ON tw.wh_id =ts.wh_id
		WHERE tw.wh_id=#{arg0}
	</select>
	
	<insert id="insertWarehouse" parameterType="kr.happyjob.study.scm.warehouse.model.WarehouseDetail">
		
		INSERT INTO
	 		tb_warehouse(
	 						loginID,
	 						wh_nm,
	 						zipCode,
	 						wh_loc,
	 						addr,
	 						dtAddress
 						)
				VALUES(
						#{loginID},
						#{wh_nm},
						#{zipCode},
						#{wh_loc},
						#{addr},
						#{dtAddress}
				)	
	 			
								
	</insert>
	
	
	<update id="updateWarehouse" parameterType="kr.happyjob.study.scm.warehouse.model.WarehouseDetail">
	
		UPDATE tb_warehouse
		SET
			loginID=#{loginID},
			wh_nm=#{wh_nm},	
			zipCode=#{zipCode},
			wh_loc=#{wh_loc},
			addr=#{addr},
			dtAddress=#{dtAddress}
		WHERE wh_id=#{wh_id}
		
	</update>
	
	<delete id="deleteWarehouse">
		DELETE FROM
		tb_warehouse
		WHERE wh_id=#{arg0}
	</delete>
		
	
	



</mapper>