<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.lec.dao.LectureFeedbackDAO">

	<!-- 강의피드백 목록 총건 -->
	<select id="feedbackListCnt" resultType="int" parameterType="map">

		select COUNT(*) FROM tb_courselist cl
		
		inner join
		(select ci.class_no, ci.class_nm, ci.class_enddate, ci.loginID, ui2.name, crr.room_nm
		FROM tb_classinfo ci
		  inner join
		  (select ui1.loginID, ui1.name FROM tb_userinfo ui1) ui2
		  on ci.loginID = ui2.loginID
		  
		  inner join
		  (select cr.room_no, cr.room_nm FROM tb_classroom cr) crr
		   on ci.room_no = crr.room_no
		   
		) cii
		on cl.class_no = cii.class_no
		
		inner join
		(select ap.appraisal_no, ap.class_no, ap.loginID, ap.appraisal_content, ap.appraisal_score, ui4.name
		FROM tb_appraisal ap
		  inner join
		  (select ui3.loginID, ui3.name FROM tb_userinfo ui3) ui4
		  on ap.loginID = ui4.loginID
		  )app
		on cl.loginID = app.loginID and cl.class_no = app.class_no
		
		
				  
		<where>
			<if test="((!oname.equals('')) and (oname eq 'A'.toString()))">			  
				and cii.name like concat('%', #{sname}, '%')
			</if>
			
			<if test="((!oname.equals('')) and (oname eq 'B'.toString()))">			  
				and app.name like concat('%', #{sname}, '%')
			</if>
			
			<if test="((!search_startdate.equals('')) or (!search_enddate.equals('')))">		  
				and cii.class_enddate between #{search_startdate} and #{search_enddate}
			</if>

		</where>
	</select>
	
	<!-- 강의피드백 목록조회  -->
	<select id="feedbackListSelect" resultType="map" parameterType="map">
		select app.appraisal_no, cl.class_no, cii.class_nm, cii.class_enddate, cii.name as t_name, app.name as s_name, cii.room_nm, app.appraisal_score
		FROM tb_courselist cl
		
		inner join
		(select ci.class_no, ci.class_nm, ci.class_enddate, ci.loginID, ui2.name, crr.room_nm
		FROM tb_classinfo ci
		  inner join
		  (select ui1.loginID, ui1.name FROM tb_userinfo ui1) ui2
		  on ci.loginID = ui2.loginID
		  
		  inner join
		  (select cr.room_no, cr.room_nm FROM tb_classroom cr) crr
		   on ci.room_no = crr.room_no
		   
		) cii
		on cl.class_no = cii.class_no
		
		inner join
		(select ap.appraisal_no, ap.class_no, ap.loginID, ap.appraisal_content, ap.appraisal_score, ui4.name
		FROM tb_appraisal ap
		  inner join
		  (select ui3.loginID, ui3.name FROM tb_userinfo ui3) ui4
		  on ap.loginID = ui4.loginID
		  )app
		on cl.loginID = app.loginID and cl.class_no = app.class_no
		
		
				  
		<where>
			<if test="((!oname.equals('')) and (oname eq 'A'.toString()))">			  
				and cii.name like concat('%', #{sname}, '%')
			</if>
			
			<if test="((!oname.equals('')) and (oname eq 'B'.toString()))">			  
				and app.name like concat('%', #{sname}, '%')
			</if>
			
			<if test="((!search_startdate.equals('')) or (!search_enddate.equals('')))">		  
				and cii.class_enddate between #{search_startdate} and #{search_enddate}
			</if>

		</where>
		ORDER BY app.appraisal_no DESC
		LIMIT #{pageIndex}, #{pageSize} 
		
	</select>
	
	<select id="FBselectDetail" parameterType="map" resultType="map" >
	
		select app.appraisal_no ,cl.class_no, cir.class_nm, cir.name as t_name , cir.class_startdate, cir.class_enddate, cir.room_nm, app.name as s_name, app.appraisal_score, app.appraisal_content
		FROM tb_courselist cl
		inner join
		(select ap.appraisal_no, ap.class_no, ap.loginID, ap.appraisal_content, ap.appraisal_score, ui.name
		  FROM tb_appraisal ap
		  inner join
		  (select loginID, name FROM tb_userinfo) ui
		  on ap.loginID = ui.loginID) app
		on cl.loginID = app.loginID and cl.class_no = app.class_no
		
		inner join
		(select ci.class_no, ci.class_nm, ci.class_startdate, ci.class_enddate, cr.room_nm, ui.name
		  FROM tb_classinfo ci
		  inner join
		  (select room_no, room_nm FROM tb_classroom) cr
		  on ci.room_no = cr.room_no
		  
		  inner join
		  (select loginID, name FROM tb_userinfo) ui
		  on ci.loginID = ui.loginID
		  ) cir
		  on cl.class_no = cir.class_no 
		  
		  where app.appraisal_no = #{appraisal_no}
	
	</select>
	
	<delete id="FBdelete" parameterType="int">
		delete from tb_appraisal
		where appraisal_no = #{appraisal_no}
	</delete>
</mapper>