<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.jmg.dao.ResumeDao">

	<select id="selectAllClassListCnt" resultType="_int">
		  SELECT COUNT(*) 
		    FROM tb_classinfo CI
      INNER JOIN tb_userinfo UI
              ON CI.loginID = UI.loginID 
 LEFT OUTER JOIN   
                (
                 SELECT COUNT(CI.class_no) class_cnt,CI.class_no
                   FROM tb_classinfo CI
             INNER JOIN tb_courselist CL
                     ON CI.class_no = CL.class_no
               GROUP BY CI.class_no
                 ) CNT
              ON CI.class_no = CNT.class_no
           WHERE CI.class_nm LIKE #{keyword}
	</select>
	
	<select id="selectAllClassList" resultType="ResumeClassInfoDto">
		  SELECT CI.class_type, CI.class_nm, UI.name, CI.class_startdate, CI.class_enddate,CNT.class_cnt, CI.class_totalcnt, CI.class_no
            FROM tb_classinfo CI
      INNER JOIN tb_userinfo UI
              ON CI.loginID = UI.loginID 
 LEFT OUTER JOIN   
                (
                 SELECT COUNT(CI.class_no) class_cnt,CI.class_no
                   FROM tb_classinfo CI
             INNER JOIN tb_courselist CL
                     ON CI.class_no = CL.class_no
               GROUP BY CI.class_no
                 ) CNT
              ON CI.class_no = CNT.class_no
           WHERE CI.class_nm LIKE #{keyword}
        ORDER BY CI.class_enddate DESC
	</select>
	
	<select id="selectResumeUserList" resultType="ResumeUserInfoDto">
		SELECT UI.loginID, UI.name, UI.gender, UI.birth, UI.email, UI.join_yn, UI.reg_date  
	      FROM tb_userinfo UI
	INNER JOIN tb_courselist CL
	        ON UI.loginID = CL.loginID
	     WHERE CL.class_no = #{class_No}
	</select>
	
	<select id="selectResumeUserListCnt" resultType="_int">
		SELECT COUNT(*)  
	      FROM tb_userinfo UI
	INNER JOIN tb_courselist CL
	        ON UI.loginID = CL.loginID
	     WHERE CL.class_no = #{class_No}
	</select>
	
	<select id="selectUserClassListCnt" resultType="_int">
		  SELECT COUNT(*) 
		    FROM tb_classinfo CI
      INNER JOIN tb_userinfo UI
              ON CI.loginID = UI.loginID 
      INNER JOIN tb_courselist CL 
              ON CI.class_no = CL.class_no   
 LEFT OUTER JOIN   
                (
                 SELECT COUNT(CI.class_no) class_cnt,CI.class_no
                   FROM tb_classinfo CI
             INNER JOIN tb_courselist CL
                     ON CI.class_no = CL.class_no
               GROUP BY CI.class_no
                 ) CNT
              ON CI.class_no = CNT.class_no
           WHERE CL.loginID = #{loginID}
	</select>
	
	<select id="selectUserClassList" resultType="ResumeClassInfoDto">
		  SELECT CI.class_type, CI.class_nm, UI.name, CI.class_startdate, CI.class_enddate,CNT.class_cnt, CI.class_totalcnt, CI.class_no,CL.score,CL.q_type
            FROM tb_classinfo CI
      INNER JOIN tb_userinfo UI
              ON CI.loginID = UI.loginID 
      INNER JOIN tb_courselist CL 
              ON CI.class_no = CL.class_no              
 LEFT OUTER JOIN   
                (
                 SELECT COUNT(CI.class_no) class_cnt,CI.class_no
                   FROM tb_classinfo CI
             INNER JOIN tb_courselist CL
                     ON CI.class_no = CL.class_no
               GROUP BY CI.class_no
                 ) CNT
              ON CI.class_no = CNT.class_no
           WHERE CL.loginID = #{loginID}
        ORDER BY CI.class_enddate DESC
	</select>
	
	<select id="selectUserAwardListCnt" resultType="_int">
		SELECT COUNT(*) 
          FROM tb_award
         WHERE loginID = #{loginID}
	</select>
	
	<select id="selectUserAwardList" resultType="ResumeAwardInfoDto">
		SELECT * 
          FROM tb_award
         WHERE loginID = #{loginID}
	</select>
	
	<select id="selectUser" resultType="ResumeUserInfoDto">
		SELECT * 
          FROM tb_userinfo
         WHERE loginID = #{loginID}
	</select>

	<select id="selectUserCareerListCnt" resultType="_int">
		SELECT COUNT(*) 
          FROM tb_career
         WHERE loginID = #{loginID}
	</select>
	
	<select id="selectUserCareerList" resultType="ResumeCareerInfoDto">
		SELECT * 
          FROM tb_career
         WHERE loginID = #{loginID}
	</select>


</mapper>


